* text=auto eol=lf

*.blade.php diff=html

*.htm   linguist-detectable=false
*.css   linguist-detectable=false
*.html  linguist-detectable=false
*.st    linguist-detectable=false linguist-vendored=true
*.hack  linguist-detectable=false linguist-vendored=true
*.hh    linguist-detectable=false linguist-vendored=true
*.hhi   linguist-detectable=false linguist-vendored=true
*.cshtml linguist-language=C#
*.aspx   linguist-language=C#
*.ascx   linguist-language=C#
