*.htm   linguist-detectable=false
*.st    linguist-detectable=false
*.hack  linguist-detectable=false
*.hh    linguist-detectable=false
*.hhi   linguist-detectable=false
*.css   linguist-detectable=false
*.hack  linguist-vendored=true
*.hh    linguist-vendored=true
*.hhi   linguist-vendored=true
