<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
    <style type="text/css">
        .auto-style1 {
            width: 100%;
        }
        .auto-style2 {
            width: 801px;
        }
        .auto-style3 {
            width: 273px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    </div>
        <table class="auto-style1">
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">
                    <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </td>
            </tr>
            <tr>
                <td class="auto-style2">
                    <a href="planos.aspx">Lista Planos de Saúde</a>&nbsp;
                    <a href="especialidades.aspx">Lista de especialidades médicas</a>&nbsp;&nbsp;
                    <a href="med_por_plano.aspx">Listar Médicos por Plano de Saúde</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="med_por_especialidade.aspx">Listar Médicos por Especialidade</a>
                </td>
            </tr>
            <tr>
                <td class="auto-style3">
                    Busca:<asp:TextBox ID="f_busca" runat="server" Width="158px"></asp:TextBox>
                    <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="OK" />
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
        </table>
    </form>
</body>
</html>